.App {
  margin: 20px; 
}


.category-list-table{

  width: 90%;
}

.action-icon{
  font-size: 25px;
  padding: 0 10px;
}

.action-icon-delete{
  color: red;
}

.category-list-heading{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 15px;
}

.inline-errormsg{
  color:#dc3545;
  font-size: 14px;
  padding-top:2px;
}
